@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--backgroundColor);
  font-family: 'Poppins', sans-serif;
  color: black;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --backgroundColor: #F8FAF9;
  --orange-gradient: linear-gradient(351deg, #FF861E 0%, #FF861E 32.85%, #F6D217 100%);
  --blue-court: url(assets/images/noise_transparent.png) repeat, linear-gradient(343deg, #0562A5 0%, #0F85DA 100%);
  --gray-bg: #E4E5E5;
  --dark-blue: #0A4E91;
  --white: #FFF;
  --orange: #FF861E;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}
@font-face {
  font-weight: 900;
  font-family: Montserrat;
  src: url("assets/fonts/Montserrat/Montserrat-BlackItalic.otf");
}

.link {
  font-weight: 500;
  color: var(--dark-blue);
  text-decoration: underline;
  transition: all .3s ease-in-out;
}

.link:hover {
  color: var(--orange);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Montserrat';
}
h2 {
  font-family: 'Montserrat';
  font-size: 35px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}
h3 {
  color: #2B2B2B;
  font-family: 'Poppins';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.card-title {
  font-family: 'Montserrat';
  font-size: 33px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

section, 
header {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.container {
  max-width: 1330px;
  width: 100%;
}

section .container {
  margin-bottom: 50px;
}

.container_small {
  max-width: 1000px;
  width: 100%;
  margin-bottom: 50px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.66px;
  text-transform: uppercase;
}

.main-btn {
  border: 3px solid #FFF;
  background: #FF861E;
  color: #FFF;
  text-align: center;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.06px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 18px 61px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(351deg, #FF861E 0%, #FF861E 32.85%, #F6D217 100%);
  transition: all .3s ease-in-out;
  background-size: 100% 100%;
  background-position-y: -100px;
  background-repeat: no-repeat;
  position: relative;
  width: fit-content;
}
.main-btn:hover {
  background-position: 100% 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
